name = "postcode-polar-api"
main = "src/index.js"
compatibility_date = "2024-01-01"
workers_dev = true
preview_urls = true

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "postcode-polar-db"
database_id = "5809cb9d-1c90-47f5-8efc-bb95c6cd5c42"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

[[routes]]
pattern = "postcode-prod.abrodly.com"
custom_domain = true
